@CHARSET "ISO-8859-1";

body {
    background-image: url("background.jpg");
}

p{font-size: 150%;}

#flipCreateLoan, #flipCreatePool, #flipReadLoan, #flipReadPool{
	display: block;
	padding: 5px;
    text-align: left;
	width: 600px;
    border: solid 2px black;
}

#panelCreateLoan, #panelCreatePool, #panelReadLoan, #panelReadPool {
	padding: 10px;
    display: none;
    padding: 5px;
	width: 600px;
    border: solid 2px black;
    background-color: white;
}

.message {
	font-size: 120%;
	color: green;
}

.errorMessage {
	font-size: 120%;
	color: red;
	display: block;
	width: 600px;
}




